body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #3A8FCF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__informations {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    &__box {
      padding: 0 15px;
      box-sizing: border-box;
      width: 100vw;
      height: 250px;
      top: 30vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #fffc;

      transition: height .2s, width .2s, top .2s, left .2s;
    }

    &__title {
      margin: 0;
      font-size: 36px;
    }

    &__description {
      font-size: 22px;
      margin: 15px 0;
      max-width: 300px;
      text-align: center;

      &--error {
        color: #ff0000;
        font-weight: 600;
      }
    }

    .input-cep {
      border: 1px solid #3A8FCF;
      font-size: 22px;
      max-width: 100%;
      outline: none;
      text-align: center;
      border-radius: 6px;
      height: 45px;
      width: 230px;

      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }

    &.loaded {
      top: 15px;
      left: 15px;
      width: 250px;
      height: auto;
      min-height: 100px;
      transition: height 1s, width 1s, top 1s, left 1s;

      .input-cep {
        margin-bottom: 15px;
      }

      .main__informations {
        &__box {
          height: auto;
          width: 100%;
          top: 0;
          min-height: inherit;
          padding: 10px;

          transition: height 1s, width 1s, top 1s;

          p {
            width: 100%;
            min-height: 20px;
            line-height: 14px;
            font-size: 12px;
            margin: 0;

            &:first-child {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
