@import './variables';

.input-cep {
  width: 230px;
  max-width: 100%;
  height: 45px;
  padding-right: 30px;
  border: 1px solid $primary-color;
  border-radius: 6px;
  outline: none;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 26px;
  font-size: 22px;
  text-align: center;
  box-sizing: border-box;

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}
