.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;

  transition: display 5s;

  &.show {
    display: block;

    transition: display 3s;
  }

  &__content {
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    height: 160px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;

    p {
      font-size: 22px;
      line-height: 24px;
      margin: 0;
      padding-right: 30px;
      text-align: center;
    }
  }

  img {
    height: 100%;
  }
}
