@import './variables';

.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  &.show {
    display: inherit;
  }

  &__content {
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 160px;
    background-color: $white;
    box-sizing: border-box;

    p {
      margin: 0;
      padding-right: 30px;
      font-size: 22px;
      line-height: 24px;
      text-align: center;
    }
  }

  img {
    height: 100%;
  }
}
